simulation/src/nova_isaac_sim/*.usda filter=lfs diff=lfs merge=lfs -text
simulation/src/nova_robot_graspnet/hs.robot.nova_robot_graspnet/data/robot/*.usda filter=lfs diff=lfs merge=lfs -text
simulation/src/nova_robot_graspnet/hs.robot.nova_robot_graspnet/data/box/model/*.obj filter=lfs diff=lfs merge=lfs -text
