<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="x-trainer_asm-0226.gazebo.xacro" />
    
    <xacro:macro name="x-trainer_asm-0226_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                
                <!-- <plugin>mock_components/GenericSystem</plugin> -->

                <!-- <plugin>xtrainer_moveit_config/XTrainerHardwareInterface</plugin> -->
                <!-- <param name="left_arm_ip">192.168.5.1</param> -->
                <!-- <param name="right_arm_ip">192.168.5.2</param> -->
                <!-- <param name="left_gripper_port">/dev/ttyUSB0</param> -->
                <!-- <param name="right_gripper_port">/dev/ttyUSB1</param> -->
            </hardware>
            <joint name="R1-1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R1-8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R1-8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R2-8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R2-8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
