<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="x-trainer_asm-0226">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import x-trainer_asm-0226 urdf file -->
    <xacro:include filename="$(find x-trainer_asm-0226)/urdf/x-trainer.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="x-trainer_asm-0226.ros2_control.xacro" />

    
    
    <!-- Gazebo camera sensor plugin for existing camera in J1-6 -->
    <!-- Note Camera is wrist in J1-6 STL file, pose is relative to J1-6 link origin -->
    <!-- <gazebo reference="J1-6">
        <sensor name="left_wrist_camera" type="depth">
            <pose>0.05 0 0.02 0 ${-pi/2} 0</pose>
            <camera name="left_wrist_camera">
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>10.0</far>
                </clip>
                <depth_camera>
                    <output>depth</output>
                </depth_camera>
            </camera>
            <plugin filename="libgazebo_ros_camera.so" name="ileft_wrist_camera_controller">
                <camera_name>camera</camera_name>
                <frame_name>J1-6</frame_name>
                <hack_baseline>0.07</hack_baseline>
                <min_depth>0.1</min_depth>
                <max_depth>10.0</max_depth>
            </plugin>
        </sensor>
    </gazebo> -->

    <!-- Gazebo global light -->
    <gazebo>
        <light type="directional" name="sun">
            <pose>0 0 10 0 0 0</pose>
            <diffuse>0.8 0.8 0.8 1</diffuse>
            <specular>0.2 0.2 0.2 1</specular>
            <attenuation>
                <range>100</range>
                <constant>0.9</constant>
                <linear>0.01</linear>
                <quadratic>0.001</quadratic>
            </attenuation>
            <direction>0 0.5 -1</direction>
            <cast_shadows>true</cast_shadows>
        </light>
    </gazebo>

    
    <xacro:x-trainer_asm-0226_ros2_control name="XTrainerSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
